html, body {
  height: 100%;
  margin: 0px;
}

.background-image {
  position: fixed;
  -webkit-background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

#standard-background {
  background-image: url('book_cover_cropped.jpg');
}

#blurred-background {
  background-image: url('book_cover_cropped_blurred.jpg');
  opacity: 0;
}

.nav-bar {
  color: white;
  font-family: 'Poppins', sans-serif;
  position: fixed;
  left:120px;
  right: 120px;
  bottom:10px;
  height:30px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  font-size: 20px;
}

.nav-item {
  display: inline-block;
  cursor: pointer;
}

.active {
  text-decoration: underline;
}

.section-container {
  height: calc(100% - 150px);
  padding-top: 150px;
  padding-left: 100px;
  padding-right: 100px;
}

.text-container {
  padding-left: 300px;
  padding-right: 300px;
}

.image-container {
  text-align: center;
}

h1 {
  font-family: 'Playfair Display', serif;
  color: #fff;
  position: fixed;
  z-index: 9999;
  font-size: 50px;
  top: 35%;
  margin-top: -25px;
}

p {
  color: white;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
}

#home {
  width: 500px;
  margin: auto;
}

#author {
  margin-bottom: 50px;
}

#book-fair-logo {
  width: 70%;
}

.purchase-banners {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

#amazon-logo {
  width: 245px;
  height: 118px;
}

#headshot {
  border-radius: 50%;
  height: 250px;
}
